*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1635px;
  padding: 0 20px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Assets/Fonts/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Segoe UI';
  src: url(./Assets/Fonts/Segoe\ UI.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Segoe UI';
  src: url(./Assets/Fonts/Segoe\ UI\ Bold.ttf);
  font-weight: 700;
}
